#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 500px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.buttonIn { 
    width: 100%; 
    position: relative; 
} 


#search { 
     
    padding: 2px; 
    
    outline: none; 
    height: 40;
    border-radius: 5px; 
    width: 120px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
} 
#search:focus {
    width: 100%;
  }
  
#search-button { 
    position: absolute; 
    top: 0; 
    border-radius: 5px; 
    right: 0px; 
    
    border: none; 
    top: 2px; 
    height: 30px; 
    cursor: pointer; 
    color: white; 
    background: rgba(0, 0, 0, 0);
    transform: translateX(2px); 
} 
/**
 * card 
 */

 